{% extends 'base/base.html' %}

{% block content %}
<div class="flex items-center justify-center mt-16">
  <div class="border rounded p-4">
    <h2 class="text-grey-dark mb-5">Make an account</h2>

    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}

      {% include '_/field.html' with label='Name' name='username' value=form.username.value id='username' ph='abhay_kr' attr='autofocus' errors=form.errors.username %}
      {% include '_/field.html' with type='password' label='Password' name='password1' id='password' ph='•••••••' errors=form.errors.password1 class='font-mono' %}
      {% include '_/field.html' with type='password' label='Retype Password' name='password2' id='re-password' ph='•••••••' errors=form.errors.password2 class='font-mono' %}


      {% if form.non_field_errors %}
        <ul class="list-reset text-red-light my-3">
        {% for error in form.non_field_errors  %}
          <li class="w-64">{{error}}</li>
        {% endfor %}
        </ul>
      {% endif %}

      {% include '_/button.html' with type='submit' text='Sign Up' %}
    </form>
  </div>
</div>
{% endblock content %}
